node_modules
dist
.DS_Store
server/public
vite.config.ts.*
*.tar.gz
.env
# Mac system files
.DS_Store
.CFUserTextEncoding

# VS Code settings
.vscode/
*.code-workspace

# npm and OS junk
.npmrc
.hushlogin
.cache/
*.jpg
*.png
*.log